<h2>TÍTULO DEL FORM-NEW</h2>

<form action="/dashboard-admin/add" method="POST" enctype="multipart/form-data">

    <input id="title" name="title" type="text" placeholder="Título de la entrada">

    <input id="extract" name="extract" type="text" placeholder="Extracto de la entrada">

    <textarea id="body" name="body" cols="30" rows="10" placeholder="Cuerpo de la entrada"></textarea>

    <input id="image" name="image" type="file">

    <input id="photo" name="photo" type="hidden" value="">

    <input type="submit" value="Guardar entrada">

</form>